@use './utils';

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  // font-family
  --ff-display: 'Inter', serif;
  --ff-mono: 'Fira Code', monospace;
  --ff-sans: 'Inter', Helvetica, Arial, sans-serif;

  --ff-headings: 'Inter', serif;
  --ff-body: 'Inter', Helvetica, Arial, sans-serif;

  // font-size
  font-size: 62.5%;
  --fs-xs: 1.2rem;
  --fs-sm: 1.4rem;
  --fs-base: 1.6rem;
  --fs-md: 1.8rem;
  --fs-lg: 2.4rem;
  --fs-xl: 3.2rem;
  --fs-2xl: 4rem;
  --fs-3xl: 4.8rem;

  // font weight
  --fw-thin: 100;
  --fw-extra-light: 200;
  --fw-light: 300;
  --fw-normal: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;
  --fw-extrabold: 800;
  --fw-black: 900;

  // Line heights
  --lh-tight: 1.2;
  --lh-base: 1.6;
  --lh-relaxed: 1.75;
}

body {
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: var(--lh-base);
  font-size: var(--fs-base);
  font-family: var(--ff-body);
  font-weight: var(--fw-normal);
  color: var(--clr-txt-primary-on-bg-primary);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--ff-headings);
  font-weight: var(--fw-bold);
  line-height: var(--lh-tight);
  color: var(--clr-txt-primary-on-bg-primary);
  margin-bottom: var(--spacing-md);
}

h1 {
  font-size: var(--fs-3xl);
  letter-spacing: -0.02em;
}

h2 {
  font-size: var(--fs-2xl);
  letter-spacing: -0.01em;
}

h3 {
  font-size: var(--fs-xl);
  letter-spacing: -0.01em;
}

h4 {
  font-size: var(--fs-lg);
}

h5 {
  font-size: var(--fs-md);
}

h6 {
  font-size: var(--fs-base);
  text-transform: uppercase;
  letter-spacing: 0.05em;
}