:root {
  /* z-index */
  --z-loader: 1000;
  --z-fixed-header: 900;
  --z-mobile-nav: 800;
  --z-mobile-nav-underlay: 700;
  --z-page-hero-content: 300;
  --z-page-hero-overlay: 200;
  --z-page-hero-image: 100;
  /* layout */
  --header-height: 64px;
  /* spacing */
  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 24px;
  --spacing-xl: 32px;
  --spacing-2xl: 40px;
  --spacing-3xl: 48px;
  --spacing-4xl: 56px;
  --spacing-5xl: 64px;
  --spacing-6xl: 72px;
  --spacing-7xl: 80px;
  --spacing-8xl: 88px;
  --spacing-9xl: 96px;
  --spacing-10xl: 108px;
  --spacing-11xl: 124px;
  --spacing-12xl: 136px;
  --spacing-13xl: 148px;
  --spacing-14xl: 156px;
  --spacing-15xl: 172px;
  --spacing-16xl: 196px;
  /* border-radius */
  --radius-xxs: 4px;
  --radius-xs: 8px;
  --radius-sm: 12px;
  --radius-base: 16px;
  --radius-md: 24px;
  --radius-lg: 32px;
  --radius-xl: 48px;
  --radius-full: 9999px;
  
  /* animation timing functions */
  --animation-timing-fn-linear-curve: cubic-bezier(0, 0, 1, 1);
  --animation-timing-fn-ease-in-curve: cubic-bezier(0.8, 0.2, 0.6, 1);
  --animation-timing-fn-ease-out-curve: cubic-bezier(0.2, 0.8, 0.4, 1);
  --animation-timing-fn-ease-in-out-curve: cubic-bezier(0.4, 0, 0.2, 1);
  // animation speed
  --animation-speed-slow: 600ms;
  --animation-speed-normal: 400ms;
  --animation-speed-fast: 200ms;
  // motion
  --animation-fn-ease: cubic-bezier(0.25, 0.1, 0.25, 1);
  --animation-fn-ease-in: cubic-bezier(0.42, 0, 1, 1);
  --animation-fn-ease-out: cubic-bezier(0.19, 0.91, 0.38, 1);
  --animation-fn-ease-in-out: cubic-bezier(0.42, 0, 0.58, 1);
  --animation-fn-linear: cubic-bezier(0, 0, 1, 1);
  --animation-duration-0: 0ms;
  --animation-duration-50: 50ms;
  --animation-duration-100: 100ms;
  --animation-duration-150: 150ms;
  --animation-duration-200: 200ms;
  --animation-duration-250: 250ms;
  --animation-duration-300: 300ms;
  --animation-duration-350: 350ms;
  --animation-duration-400: 400ms;
  --animation-duration-450: 450ms;
  --animation-duration-500: 500ms;
  
  /* Shadows - Premium Smooth Shadows */
  --shadow-color: 220 3% 15%;
  --shadow-strength: 1%;

  --shadow-sm: 
    0 1px 2px -1px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 9%));
  
  --shadow: 
    0 3px 5px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 3%)),
    0 7px 14px -5px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 5%));
    
  --shadow-md: 
    0 -1px 3px 0 hsl(var(--shadow-color) / calc(var(--shadow-strength) + 2%)),
    0 1px 2px -5px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 2%)),
    0 2px 5px -5px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 4%)),
    0 4px 12px -5px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 5%)),
    0 12px 15px -5px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 7%));
    
  --shadow-lg: 
    0 -2px 5px 0 hsl(var(--shadow-color) / calc(var(--shadow-strength) + 2%)),
    0 1px 1px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 3%)),
    0 2px 2px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 3%)),
    0 5px 5px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 4%)),
    0 9px 9px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 5%)),
    0 16px 16px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 6%));
    
  --shadow-xl: 
    0 -1px 2px 0 hsl(var(--shadow-color) / calc(var(--shadow-strength) + 2%)),
    0 2px 1px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 3%)),
    0 5px 5px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 3%)),
    0 10px 10px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 4%)),
    0 20px 20px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 5%)),
    0 40px 40px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 7%));

  --shadow-2xl: 0 25px 50px -12px rgb(0 0 0 / 0.25);

  // UI
  --stats-section-radius: var(--radius-base);
  --stats-section-padding: var(--spacing-lg);
  --stats-section-margin-bottom: var(--spacing-lg);
  --stats-card-title: var(--fs-md);
  --stats-card-description: var(--fs-sm);
  --stats-card-value: var(--fs-xl);
}
