@use '../../styles/utils' as *;

.addDestinationPage {
  background-color: var(--clr-bg-primary);
  color: var(--clr-txt-primary-on-bg-primary);
  min-height: calc(100vh - var(--header-height));
  font-family: var(--ff-body);
  padding-top: var(--spacing-lg);
  padding-bottom: var(--spacing-lg);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  border-radius: var(--radius-sm);

  @include add-section-lr-padding();
}

.formContainer {
  background-color: var(--clr-bg-secondary);
  border-radius: var(--radius-sm);
  box-shadow: 0 4px 10px var(--clr-shadow);
  padding: var(--spacing-md);
  width: 100%;
  max-width: 600px;

  @include respond-to('md-screens') {
    padding: var(--spacing-lg);
  }
}

.header {
  text-align: center;
  margin-bottom: var(--spacing-md);

  h1 {
    font-family: var(--ff-headings);
    font-size: var(--fs-lg);
    font-weight: var(--fw-bold);
    color: var(--clr-accent-2);
    margin-bottom: var(--spacing-md);
  }
}

.addForm {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
}

.formGroup {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
}
