.fieldLabel {
  font-size: var(--fs-sm);
  font-weight: 700;
  color: var(--clr-txt-primary-on-bg-primary);
  margin-bottom: var(--spacing-md);
}

.trigger {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--spacing-4xl);
  padding: var(--spacing-sm) var(--spacing-md);
  font-size: var(--fs-base);
  line-height: 1;
  border-radius: 6px;
  border: 1px solid var(--clr-border-secondary-on-bg-primary);
  background-color: var(--clr-bg-primary);
  color: var(--clr-txt-primary-on-bg-primary);
  box-shadow: 0 1px 4px var(--clr-shadow);
}

.trigger[data-placeholder] {
  color: var(--clr-txt-secondary-on-bg-primary);
}

.content {
  overflow: hidden;
  background-color: var(--clr-bg-primary);
  border: 1px solid var(--clr-border-secondary-on-bg-primary);
  border-radius: 6px;
  box-shadow: 0 1px 6px var(--clr-shadow);
  z-index: 10000;
  padding: var(--spacing-xs) var(--spacing-sm);
}

.viewport {
  padding: var(--spacing-xs) 0;
}

.item {
  font-size: var(--fs-sm);
  line-height: 1.5;
  color: var(--clr-txt-primary-on-bg-primary);
  padding: var(--spacing-xs) var(--spacing-sm);
  border-radius: 4px;
  display: flex;
  align-items: center;
  position: relative;
  user-select: none;
  cursor: pointer;
}

.item:hover,
.item[data-highlighted] {
  background-color: var(--clr-bg-secondary);
  color: var(--clr-txt-primary-on-bg-secondary);
}

.item[data-disabled] {
  color: var(--clr-txt-secondary-on-bg-primary);
  pointer-events: none;
}

.itemIndicator {
  position: absolute;
  left: 0.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.label {
  padding: var(--spacing-xs) var(--spacing-sm);
  font-size: var(--fs-xs);
  color: var(--clr-txt-secondary-on-bg-primary);
}
